p {
    color: gray;
    text-align: center;
    font-size: 1.9 em; 
  }


  body {
    background-color: #A19882;

  }
  
  h1 {
    font-family: verdana;
    font-size: 2em;
    color: blue;

  }

  p {
    border-style: dashed;
    border-color: black;
    font-family: verdana;
    font-size: 2em;
  }

  div{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  